<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
<meta charset="UTF-8">
<title>Carrocas Web - IFG</title>
</head>
<body>
	<header>
		<a href="/cadastrousuario">Cadastro Usuario</a>
		<a href="/cadastroveiculo">Cadastro Veículo</a>
		<a href="/cadastromarca">Cadastro Marca</a>
		<a href="/cadastroanuncio">Cadastro Anúncio</a>
	</header>
	<main>
		<section id="filtros">
		</section>
		<section id="carros">
		</section>
	</main>
	
	<footer></footer>
</body>
</html>
