<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="custom/css/custom.css"/>
</head>
<body>
	<header th:replace="fragmentos/header.html :: header"></header>	</header>
	<div class="row">
	<div class="container col-md-3">
		<form action="logar" method="post">
			<h2>Faça o login!</h2>
			<input type="text" name="user"> 
			<input type="password" name="pass"> <input type="submit">
		</form>
		<a href="/cadastrousuario">Não possui cadastro? Cadastre-se!</a>
	</div>
	</div>
	<footer th:replace="fragmentos/footer.html :: footer"></footer>
</body>
</html>